<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Contains dialogs for performing various wps::* and richwps::*-requests.
        Among these
        <ul>
            <li>ExecuteDialog - Execute any WPS process.</li>
            <li>ExecuteModelDialog - Execute opened model as WPS process (if deployed).</li>
            <li>ProfileModelDialog - Profile opened model as WPS process .</li>
            <li>TestModelDialog - Test opened model as WPS process .</li>
            <li>UndeployDialog - Undeploy any deployed model from an RichWPS server.</li>
        </ul>
        </div>
    </body>
</html>
